* {
    font-family: Verdana;
    margin: 0;
    padding: 0;
}

html {
    background-color: gray;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#page-content {
    background-color: #DDDDDD;
    height: 100%;
    width: 75%;
    min-width: 600px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 40px;
}

.section {
    width: 100%;
}

#page-content .section {
    margin-bottom: 40px;
}
